
app-game, app-leader-board {
	flex: 0 1 50%;
}

.wrapper {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	min-height: 80vh;
    align-items: stretch;
	border: 3px solid #f5f5f5;
	margin: 5vh auto 0;
}