.leader {
	padding: 120px 80px 50px;

	&-title {
		font-size: 26px;
		padding-bottom: 40px;
		color: #888;
		font-weight: bold;
	}

	&-row {
		display: flex;
		width: 100%;
		height: 60px;
		font-size: 18px;
		justify-content: space-between;
		background-color: #cfd8dc;
		color: #9fa8ab;
		margin-bottom: 2px;
		align-items: center;
		padding: 0 20px;

		span {
		    max-width: 240px;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		}
	}
}


@media (max-width: 1400px) {
	.leader {
		padding: 60px 20px 15px;
	}
}

@media (max-width: 920px) { 
	.leader {
		padding: 30px 15px;
		&-row {
			font-size: 16px;
		}
	}
}

@media (max-width: 500px) { 
	.leader {
		&-title {
			font-size: 20px;
			padding-bottom: 20px;
		}
		&-row {
			padding: 0 10px;
		}
	}
}

@media (max-width: 400px) { 
	.leader {
		padding: 20px 3px;
	}
}